.pageHeader {
    box-shadow: 0 1px 5px -1px rgba(0,0,0,.25);
    font-family: Arial, Helvetica, sans-serif;
}

    .pageHeader__headerTop {
        height: 15vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgba(223, 223, 223, 0.466);
    }

        .headerTop__foldingMenu {
            display: flex;
            align-items: center;
            margin-top: 40px;
        }

            .foldingMenu__menu, .foldingMenu__search {
                font-size: 20px;
            }

                .foldingMenu__menu {
                    margin-left: 20px;
                }

                .foldingMenu__text {
                    margin-left: 20px;
                    margin-right: 40px;
                    font-weight: bold;
                    font-size: 12px;
                    color: #000;
                }

        .headerTop__banner {
            width: 500px;
        }

        .headerTop__login {
            display: flex;
            align-items: center;

            margin-top: 40px;
        }

            .login__text {
                margin-right: 20px;
                font-weight: bold;
                font-size: 12px;
                color: #000;
                text-decoration: none;
            }

            .login__icon {
                margin-right: 20px;
            }

    .pageHeader__headerBottom {
        background-color: rgb(255, 255, 255);
        height: 5vh;
        display: flex;
        justify-content: center;
    } 

        .headerBottom__headerNavigation {
            width: 400px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

            .headerNavigation__link {
                text-decoration: none;
                font-size: 16px;
                color: #000;
            }

            .headerNavigation__link:last-child {
                color: var(--red);
            }