.mainWrapper {
    padding: 0 12%;
}

    .mainWrapper__advertisement {
        display: flex;
        margin-top: 30px;
        margin-bottom: 40px;
        position: relative;
    }

        .advertisement__image {
            width: 100%;
        }

        .advertisement__text {
            transform: rotate(90deg);
            position: absolute;
            right: -38px;
            top: 45%;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 13px;
        }

    .mainArticle__articleTop {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

        .articleTop__articleHeader {
            width: 70%;
        }

        .articleHeader__info {
            display: flex;
            align-items: center;
            margin-top: 20px;
        }

            .info__heading {
                margin-right: 15px;
                color: var(--red);
                font-family: Arial, Helvetica, sans-serif;
                font-size: 14px;
            }

            .info__text {
                color: var(--light-grey);
                font-family: Arial, Helvetica, sans-serif;
                font-size: 12px;
            }

        .articleHeader__title {
            font-size: 2.3em;
            font-family: Georgia, 'Times New Roman', Times, serif;
            margin: 10px 0;
        }

        .articleHeader__summary {
            font-size: 16px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            color: var(--dark-grey);
            margin-bottom: 20px;
        }

    .mainArticle__coverPhoto {
        display: flex;
    }

        .coverPhoto__caption {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            width: 28%;
            margin-right: 2%;
        }

            .caption__text {
                font-size: 16px;
                text-align: end;
                color: #666666;
            }

        .caption__photographer {
            color: var(--dark-grey);
            font-style: normal;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
            margin-top: 10px;
        }

        .coverPhoto__heroImage {
            width: 70%;
        }

    