.mainWrapper {
    padding: 0 12%;
}

    .mainWrapper__advertisement {
        display: flex;
        margin-top: 30px;
        margin-bottom: 40px;
        background-color: aliceblue;
    }

        .advertisement__image {
            width: 100%;
        }

        .advertisement__text {
            transform: rotate(90deg);
            height: 0px;
            width: 40px;
            margin-top: 60px;
        }

    .mainArticle__articleTop {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

        .articleTop__articleHeader {
            width: 60%;
        }

        .articleHeader__info {
            display: flex;
            align-items: center;
            margin-top: 20px;
        }

            .info__heading {
                margin-right: 15px;
                color: var(--red);
                font-family: Arial, Helvetica, sans-serif;
                font-size: 14px;
            }

            .info__text {
                color: var(--light-grey);
                font-family: Arial, Helvetica, sans-serif;
                font-size: 12px;
            }

        .articleHeader__title {
            font-size: 2em;
            font-family: Georgia, 'Times New Roman', Times, serif;
            margin: 10px 0;
        }

        .articleHeader__summary {
            font-size: 16px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            margin-bottom: 10px;
        }

    .mainArticle__coverPhoto {
        display: flex;
    }

        .coverPhoto__caption {
            margin-right: 10px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }

            .caption__text {
                font-size: 16px;
                text-align: end;
            }

        .coverPhoto__heroImage {
            width: 60%;
        }

    