@import './header.css';
@import './main.css';
@import './footer.css';

* {margin:0;padding:0;box-sizing: border-box;}

:root {
    --red: #DE412C;
    --light-grey: #CECECE;
    --dark-grey: #666666;
}